
body {
  padding: 10px;
  fony-family: Arial, sans-serif;
  font-weight: 400;
  font-size: small;
}
a {
  text-decoration: none;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.site_list {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  color: black;
}
.site_list:hover {
  color: #4a69bd;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
header {
  border-bottom: 1px solid #bdc3c7;
  height: 50px;
}
img {
  display: inline-block;
}
.header_text {
  display: inline-block;
}
.header_nav {
  display: inline-block;
}
main {
  margin-right: 500px;
  margin-bottom: 500px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
