
body {
  padding: 10px;
}
a {
  text-decoration: none;
  display: inline-block;
}
.brawl {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  color: black;
}
.brawl:hover {
  color: #4a69bd;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.first_site {
  display: ;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  color: black;
}
.first_site:hover {
  color: #4a69bd;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
